nb-card-header{
    width: 100%;
    height: 8vh;
    background-color: rgb(4, 77, 77);
 /*    background-image:url(C:\resgistraduriaciclo4\Frontend\src\app\pages\IMG\Casa2.png) ; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(251, 246, 246);
}
table{
    background-color: rgb(148, 148, 163);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}