nb-card-body{
    width: 100%;
    height: 100vh;
    background-image:url(C:\resgistraduriaciclo4\Frontend\src\app\pages\IMG\img3.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color:rgb(245, 240, 240);
}
nb-card-header{
    width: 100%;
    height: 6vh;
    background-color: rgb(4, 77, 77);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
}
button{
    font-size: 30px;
}