<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elecciones 2022 | Registraduria Nacional del Estado Civil.</title>
    <link rel="stylesheet" href="home.component.scss">
</head>
<body>
    
    
    <div class="navbar">
        <!-- <img src="registraduria.jpg" class="logo"> -->
        <ul>
            <li><a href="prueba.html">¿Quienes Somos?</a></li>
            <li><a href="#">Misión</a></li>
            <li><a href="#">Visión</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Elecciones en Colombia Congreso 2022</h1>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/rBT2YbhZcw8" title="YouTube video player"     frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        <div>
            <button type="button"><li><a href="http://localhost:4200/pages/seguridad/login">Login</a></li></button>
            <button type="button">Consultar Resultados</button>
        </div>
    </div>
</body>
</html>